/* You can add global styles to this file, and also import other style files */
html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/mcduck.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}
